* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(0, 163, 212);
}

#content {
    text-align: center;
}

#header {
    /* border: 1px solid red; */
    margin: 15px auto;
    width: 60%;
    text-align: center;
}

#header h1 {
    margin-bottom: 20px;
    color: aliceblue;
}

p {
    margin: 15px 0;
}

#p1 {
    color: yellow
}

#p2 {
    color: greenyellow;
}

#p3 {
    color: green;
}

input {
    width: 70%;
    height: 25px;
}

#notas{
    background-color: rgb(6, 188, 243); 
    width: 95%; 
    margin: 0px auto; 
    height: 30px; 
    text-align: left; 
    border-style: solid;
}

#btnadd{
    background-color: rgb(15, 90, 133);
}

#btn{
    width: 30px; 
    background-color: rgb(212, 34, 34);
}
